body {
	text-align: center;
	background-color: #c2d6d6;
}

table#pwd {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	min-width: 500px;	
	border: 3px solid black;
	border-radius: 35px;
	background-color: #CC00CC;
	box-shadow: 10px 10px 5px #888888;
	height: 90px;
}

h2.pwd {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: yellow;
	text-shadow: 2px 2px #ff0000;
}

input.nwords {
	text-align: center;
	width: 20px;
}

div#form {
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
}

div#options {
	margin-left: 38%;
	text-align: left;
	padding: 5px;
}

span.error {
	color: red;
	font-weight: bold;
}

div#description {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

h2.description {
	border-top: thick ridge #cfcfcf;
}

p {
	text-align: left;
}